# Database
DB_URL=jdbc:postgresql://localhost:5432/fithub_db
DB_USERNAME=postgres
DB_PASSWORD=your_password_here

# Mail
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=your_username
MAIL_PASSWORD=your_password

# Redis
REDIS_HOST=localhost
REDIS_PASSWORD=your_redis_password

# JWT
JWT_ACCESS_TOKEN_EXPIRATION=86400000
JWT_REFRESH_TOKEN_EXPIRATION=684000000

# Frontend
FRONTEND_URL=http://localhost:4200