spring:
  application:
    name: FitHub
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://aws-1-eu-west-1.pooler.supabase.com:6543/fithub_db
    username: postgres.qnpbrmxjbbwerlcteogn
    password: A7!qR9#Zp@2L$M^x
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
  mail:
    host: sandbox.smtp.mailtrap.io
    port: 2525
    username: 1adf483d25b7ce
    password: a7dfbe5d68e5a9
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enabled: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
  data:
    redis:
      host: 172.19.94.160
      password: password123
