services:
  postgres:
    image: postgres:latest
    container_name: FitHub
    restart: unless-stopped
    environment:
      POSTGRES_DB: fithub_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - network
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --requirepass password123 --appendonly yes
    restart: unless-stopped
  mail-dev:
    container_name: mail-dev
    image: maildev/maildev
    ports:
      - "1080:1080"
      - "1025:1025"

volumes:
  pgdata:
  redis_data:

networks:
  network:
    driver: bridge
